USER_ID                 = "123456789098"
ACCESS_KEY_ID           = "ALPH4NUM3R1CID3TIF13R"
SECRET_ACCESS_KEY       = "mU)HL0ng3rM!x3dc45EN0n-a1Ph4NuM3ri("
AWS_KEYPAIR_NAME        = "my-keypair"
AWS_KEYPAIR_PATH        = "/path/to/privatekey/.ssh/my-keypair.pk"
